<div class="marginTop18Px">
  <mat-grid-list style="background: lightblue;" cols="2">

  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile  style="border: 1px solid black;background: lightblue;">
      <div>
        <a routerLink="/register" routerLinkActive="active">Register User</a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile  style="border: 1px solid black;background: lightblue;">
      <div>
        <a routerLink="/signin" routerLinkActive="active">Sign In</a>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

</div>
